p{
    text-align: center;
    color: aquamarine;
    background-color: blanchedalmond;
}

h1{
    text-align: center;
    color: blue;
    background-color: blanchedalmond;
}

body{ 
 background-color: blanchedalmond;
}